<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
</head>

<body>

    <div class="d-flex flex-column min-vh-100">

        <nav class="navbar navbar-expand-lg bg-success border-success border-bottom">
            <div class="container-fluid my-1 mx-5">
                <a class="navbar-brand text-light fw-bold fs-5" href="#">
                    <i class="fa-solid fa-gears"></i> QUANTUM CRYPOGRAPHY</a>
                <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars text-light"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-1">
                        <li class="nav-item">
                            <a class="nav-link text-decoration-underline link-offset-2 active text-light fw-bold"
                                aria-current="page" href="/upload">Upload Data</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white fw-bold" href="/viewdata">View Data</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white fw-bold" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



        {% if success %}
        <div class="position-fixed top-0 toastae start-50 translate-middle-x p-3" style="z-index: 11">
            <div id="liveToast1" class="toast bg-success bg-opacity-75 hide" role="alert" aria-live="assertive"
                aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body ms-auto text-white">
                        {{success}}
                    </div>
                    <button type="button" class="btn-close shadow-none btn-close-white me-2 m-auto"
                        data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="container bg-white my-4">

            <div class="d-flex mt-5 mb-3">
                <h3 class="text-success-emphasis link-offset-1 text-decoration-underline flex-grow-1 flex-md-grow-0">
                    Upload
                </h3>
            </div>

            <form method="post" id="uploadimageform" enctype="multipart/form-data">

                <div class="row justify-content-center mb-3 mt-4">

                    <div class="col-md-8 position-relative">
                        <label for="file" class="form-label">Upload File:</label>
                        <input type="file" class="form-control shadow-none border-primary" name="file" id="file"
                            accept=".csv">
                        <div class="invalid-tooltip rounded-3 ">
                            * Select File
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label d-block">&nbsp;</label>
                        <button type="submit" class="btn btn-success shadow-none w-100">Upload</button>
                    </div>

                </div>

                {% if image %}

                <div class="row justify-content-center">
                    <div class="col-md-12 mt-3">
                        <img src="../static/docs/{{image}}" alt="image" class="img-fluid img-thumbnail">
                    </div>
                    <div class="col-md-12 my-5">
                        <h3 class="text-center text-decoration-underline link-offset-2">Pre Processing</h3>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-4 mt-3">
                        <h5 class="text-center">Grayscale Image</h5>
                        <img src="../static/docs/{{image}}" alt="image" class="img-fluid img-thumbnail">
                    </div>
                    <div class="col-md-4 mt-3">
                        <h5 class="text-center">Binarized Image</h5>
                        <img src="../static/docs/{{image}}" alt="image" class="img-fluid img-thumbnail">
                    </div>
                    <div class="col-md-4 mt-3">
                        <h5 class="text-center">Thresholded Image</h5>
                        <img src="../static/docs/{{image}}" alt="image" class="img-fluid img-thumbnail">
                    </div>
                </div>


                <div class="row justify-content-center"> 
                    <div class="col-md-12 my-5">
                        <h3 class="text-center text-decoration-underline link-offset-2">Processing</h3>
                    </div>
                </div>

                {% endif %}
                
            </form>

        </div>


    </div>

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>


    <script>
        $(function () {

            $('.toast').toast('show');

            $("#uploadimageform").on("submit", function (e) {
                debugger;

                var file = $("#file").val()

                var testemail = new RegExp("[a-z0-9]+@[a-z]+\.[a-z]{2,3}");
                var testphone = new RegExp("^[6-9][0-9]{9}$");
                var testaadhar = new RegExp("^[2-9]{1}[0-9]{3}[0-9]{4}[0-9]{4}$");
                var testusn = new RegExp("(?=(.*[a-zA-Z])(?=.*[0-9]))");


                if (file != "") {
                    $("#file").removeClass("is-invalid");
                } else {
                    $("#file").addClass("is-invalid");
                    e.preventDefault();
                }

            })

        })
    </script>

</body>


</html>